header, footer, aside, nav, article {
	display: block;
}

body {
  height:100%;
  font-family: 'Schoolbell', serif;
  color: #1B1112;
}

h1, h2 {
  font-family: 'Rock Salt', serif;
  font-style: normal;
  font-weight: 400;
  text-shadow: 4px 4px 4px #bbb;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.041em;
  word-spacing: 0em;
  line-height: 1.2;
}

h1 {
  font-size: 52px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

h2 {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  margin: 0;
  color: #A4E666;
  background-color: #A4E666;
  height: 5px;
  border-bottom: 1px solid black;
}

#root {
  background-image:url('images/google_grid.png');

	position:relative;
	
	height:auto !important;
	height:100%;

	min-height:100%;
}

#body-section {
  padding-left: 50px;
  padding-right: 50px;
}

#copy {
   font-size: 26px;
   font-style: normal;
   font-weight: 400;
   text-decoration: none;
   text-transform: none;
   letter-spacing: 0em;
   word-spacing: 0em;
   line-height: 1.2;
   text-shadow: 0px 0px 10px #FFF, -1px -1px #FFF;
}

#copy p {
  padding-bottom: 15px;
}

#articles {
}

ul li:before {
	content: "\00BB \0020";
}

#github-projects a {
  text-transform:capitalize;
}

#links {
  height: 160px;
}

#flickr-link, #linkedin-link, #forrst-link, #github-link, #stackoverflow-link, #email-link {
  float: left;
  margin-right: 5px;
  font-size: 0;
}

#flickr-link {
  background-image:url('images/flickr_35x83.png');
  display: block;
  height: 35px;
  width: 83px;
}

#linkedin-link {
  background-image:url('images/linkedin_35x83.png');
  display: block;
  height: 35px;
  width: 83px;
}

#forrst-link {
  background-image:url('images/forrst_32.png');
  display: block;
  height: 32px;
  width: 32px;
}

#github-link {
  background-image:url('images/github_32.png');
  display: block;
  height: 32px;
  width: 33px;
}

#stackoverflow-link {
  background-image:url('images/stackoverflow_30.png');
  background-size: 100%;
  display: block;
  height: 32px;
  width: 32px;
}

#email-link {
  background-image:url('images/email_32.png');
  display: block;
  height: 32px;
  width: 32px;
}


footer {
  border-top: 3px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
  background: #616536;
  height: 40px;
}

#html5logo {
  margin: 5px 10px 5px 0px;
  float: right;
}

.stickey-footer { 
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
}

