header, footer, aside, nav, article {
	display: block;
}

body {
  background-image:url('images/google_grid.png');
  height:100%;
  font-family: 'Schoolbell', serif;
}

h1, h2 {
  font-family: 'Rock Salt', serif;
  font-style: normal;
  font-weight: 400;
  text-shadow: 4px 4px 4px #bbb;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.041em;
  word-spacing: 0em;
  line-height: 1.2;
}

h1 {
  font-size: 52px;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}

h2 {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#root {
  padding-left: 50px;
  padding-right: 50px;

	position:relative;
	
	height:auto !important;
	height:100%;

	min-height:100%;
}

#body-section {
}

#copy {
   font-size: 26px;
   font-style: normal;
   font-weight: 400;
   text-decoration: none;
   text-transform: none;
   letter-spacing: 0em;
   word-spacing: 0em;
   line-height: 1.2;
   text-shadow: 0px 0px 10px #FFF, -1px -1px #FFF;
}

#copy p {
  padding-bottom: 15px;
}

#articles {
}

ul li:before {
	content: "\00BB \0020";
}

#github-projects a {
  text-transform:capitalize;
}

footer {
  text-align: center;
  margin-bottom: 5px;
}

.stickey-footer { 
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
}

